container_commands:
    00_node_install:
        # don't run the command if node is already installed (file /usr/bin/node exists)
        test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
        # install from epel repository
        # flag -y for no-interaction installation
        command: 'echo "Yum install node" && yum install -y nodejs --enablerepo=epel'
    01_npm_install:
        command: 'echo "Yum install npm" && yum install -y npm --enablerepo=epel'
    02_install:
        command: 'echo "npm install" && npm i'
    03_frontendbuild:
        command: 'echo "npm build" && npm run frontend-build:production'
        
