{% extends "_base_page.html" %}

{% block main_content %}
  {% with heading = "Page could not be found" %}
    {% include 'toolkit/page-heading.html' %}
  {% endwith %}
  <p>
    Check you've entered the correct web address or start again on the
    Cirrus homepage.
  </p>
  <p>
    If you can't find what you're looking for, contact us at
    <a href="mailto:enquiries@cirrus.pebblecode.com?subject=Digital%20Marketplace%20feedback" title="Please send feedback to enquiries@cirrus.pebblecode.com">enquiries@cirrus.pebblecode.com</a>
  </p>
{% endblock %}
